
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-size:15px;
}

h1 {font-size:40px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:18px;}

.btns{
    background-color: limegreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 60%;
    cursor: pointer;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.slide1, slide2{
  display: none;
}


.modal-content{
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.096);
    position: relative;
}

.modal-content .image_container{
    text-align: center;
}

.modal-content img{
    width: 20%;
    padding: 10px;
}

.form_container{
    padding: 10px 10px;
}

::placeholder{
    opacity: .5;
}

input{
    width: 100%;
    padding: 12px 10px;
    margin: 10px auto;
    display: inline-block;
    border: 2px solid limegreen;
    background-color: #83ff839d;
    box-sizing: border-box;
}

input:focus{
  transition: .5s;
  background-color: #fcfcfc81;
  outline: none;
}

._formgrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-column-gap: 2%;
}

/* Customize the label (the container) */
.radio_spot{
    margin-top: 20px;
    justify-items: left;
}

.radio_container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid lime
  }
  
  /* On mouse-over, add a grey background color */
  .radio_container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a green background */
  .radio_container input:checked ~ .checkmark {
    background-color: limegreen;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio_container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  /* Customize the label (the checkbox_container) */
.check_container {
    display: block;
    margin-top: 20px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .check_checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid lime;
  }
  
  /* On mouse-over, add a grey background color */
  .check_container:hover input ~ .check_checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a green background */
  .check_container input:checked ~ .check_checkmark {
    background-color: limegreen;
  }
  
  /* Create the check_checkmark/indicator (hidden when not checked) */
  .check_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the check_checkmark when checked */
  .check_container input:checked ~ .check_checkmark:after {
    display: block;
  }
  
  /* Style the check_checkmark/indicator */
  .check_container .check_checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Style all links */
  form a{
    text-decoration: none;
    opacity: .8;
    color: rgb(3, 145, 3);
    transition: 0.3s;
  }

  form a:hover{
    text-decoration: underline;
    opacity: 1;
  }

 button:hover{
    transition: 0.5s;
    background-color: rgb(6, 129, 6);
  }

._bottomgrid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,50%);
  }

 .sub_button {
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 60%;
    cursor: pointer;
  }

  .btn_container{
      text-align: right;
  }

  ._bottom  .sub_button{
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 25%;
    cursor: pointer;
  }

 

  /* Add Zoom Animation */ 

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
   }
   
   @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
   }
   
   @keyframes animatezoom {
       from {transform: scale(0)}
       to {transform: scale(1)}
   }
  
   